<div class="contaner">
  <div class="contaner__header">
    <div class="contaner__header__title">みにあぷり</div>
    <a href='/users/sign_in'><div class="contaner__header__sign-in">さいんいん</div></a>
    <a href='/users/sign_up'><div class="contaner__header__sign-up">さいんあっぷ</div><a>
  </div>
  <div class="contaner__body">
    <% @comments.each do |comment| %>
      <div class="contaner__body__box">

          ゆーざー<%= comment[:user_id] %><br>
          <%= comment[:comment] %>


     </div>
    <% end %>
  </div>
  <div class="contaner__footer"><%= paginate @comments%></div>
</div>
